<section class="template-404">
  <h1>404</h1>
  <h2>{{ 'general.404.title' | t }}</h2>
  <p>{{ 'general.404.subtext' | t }}</p>
  <a href="{{ routes.root_url }}" class="btn">{{ 'general.404.link' | t }}</a>
</section>

{% schema %}
{
  "name": "404",
  "settings": []
}
{% endschema %}
